@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap&subset=cyrillic");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 47px 83px 0 140px; */
  background-image: url(../img/background_img.svg);
  /* height: 1000px; */
}

.logo {
  /* width: 50px;
  height: 35px; */
  cursor: pointer;
  margin: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0s ease 0s;
}

.nav__links li a:hover {
  border-bottom: 2px solid #ffffff;
}

button {
  padding: 14px 32px 14px 33px;
  background-color: #ffffff;
  color: #3693d6;
  border: none;
  cursor: pointer;
  /* transition: all 0.3s ease 0s; */
  font-size: 32px;
  font-weight: 500;
  border-radius: 34px;
  /* border: 2px solid #ffffff; */
}

/* button:hover {
  background-color: rgba(0, 136, 169, 0.8);
} */
