* {
  box-sizing: border-box;
}

img {
  display: inline-block;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  max-width: 1920px;
  min-height: 100vh;
  background-color: #888;
  min-height: 100vh;
}

/* .col-4 {
  padding: 0;

}

.col-8 {
  padding: 0;
} */

.container-fluid {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
}

header {
  background-image: url(../img/bg_img-4PXBlur_v2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 600px;
}

.header__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 0 auto;
  padding: 15px 0 70px 0;
}

.header__img img {
  width: 400px;
  height: auto;
}


.header__title {
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,103,34,1) 0%, rgba(80,254,62,1) 0%, rgba(123,138,255,1) 100%);
  opacity: 0.8;
}

.header__title-main {
  font-size: 30px;
  /* color: #2f2f2f; */
  color: orangered;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  
}

.header__title-description {
  display: flex;
  justify-content: flex-end;
  color: #010101;
  padding: 0;
  margin: 0 auto 0 auto;
  width: 494px;
}

.header__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}


.header__arrow a {
  text-decoration: none;
  color: orangered;
  /* background: red; */
}

.header__arrow a:hover {
  color: #31fc33;
}


main {
  border-top: 2px solid #444;
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(23,103,34,1) 0%, rgba(80,254,62,1) 0%, rgba(123,138,255,1) 100%);
  
}

.main__title {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #010101;
  font-size: 30px;
  font-weight: 500;
}

.content__left {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
  /* width: 730px;
  height: 400px; */
}


.content__left-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.content__left-img img {
  max-width: 450px;
  max-height: 450px ;
  /* width: 50vh;
  height: auto; */
  border: 1px solid #010101;
  background: #444;
  padding: 3px;
  margin-right: 15px;
  
}

.content__left-title {
  font-size: 35px;
  font-weight: 500;
}

.content__left-text {
  margin-bottom: 50px;
}

.content__left-btn {
  margin-bottom: 10px;
}

.content__left-btn a {
  text-decoration: none;
  border: 1px solid #010101;
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #010101;
}

.content__left-btn a:hover {
  background-color: #010101;
  color: #fff;
}





.content__right {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: end;
}

.content__right-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content__right-img img {
  width: 400px;
  height: auto;
  border: 1px solid #010101;
  background: #444;
  padding: 3px;
  margin-left: 15px;
}

.content__right-title {
  font-size: 40px;
  font-weight: 500;
}

.content__right-text {
  margin-bottom: 50px;
}

.content__right-btn {
  margin-bottom: 10px;
}

.content__right-btn a {
  text-decoration: none;
  border: 1px solid #010101;
  border-radius: 10px;
  padding: 10px 20px;
  /* margin-right: 15%; */
  text-transform: uppercase;
  color: #010101;
}

.content__right-btn a:hover {
  background-color: #010101;
  color: #fff;
}

.the__last-cont {
  margin-bottom: 50px;
}

.copyrights {
  color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin: 0 auto;
}

.footer__container {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


@media (max-width: 1130px) {

    body {
      margin: 0 auto;
      line-height: normal;
    }  
  
  .header__img img {
      width: 50%;
  }

    .container {
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
    }

    .container img {
      width: 25vh;
    }

}

@media (max-width: 778px) {

    .container {
      width: 100%;
    }

    .description__div {
      line-height: none;
    }

    .content__left-title {
      font-size: 25px;
    }

    .content__left-text {
      font-size: 12px;
    }

    .content__left-btn a {
      font-size: 12px;
    }

    .content__right-title {
      font-size: 25px;
    }

    .content__right-text {
      font-size: 12px;
    }

    .content__right-btn a {
      font-size: 12px;
    }

}